{% extends 'index.html' %}
{% block index %}
<title>Register Customer</title>
<div class="page-header">
    <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-account-plus"></i>
                </span> {{page | title  }} Customer </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Fill the customer details</h4>
                <p class="card-description"> {{msg}} </p>
                <form id="form" class="forms-sample"  method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% if page == 'register' or edit_type == 'basic' %}
                        <div class="col-lg-6">
                            <p class="card-description">Basic Details</p>
                            {{form_basic.as_p}}
                        </div>
                        {% endif %}
                        {% if page == 'register' or edit_type == 'status' %}
                        <div class="col-lg-6">
                            <p class="card-description">Customer Status </p>
                            {{form_status.as_p}}
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Membership</label>
                                <div class="col-sm-4">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="status"
                                                   id="membershipRadios1" value="1" checked> Active </label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="form-check">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="status"
                                                   id="membershipRadios2" value="0" checked> Inactive </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <!--                    {% for field in form %}-->
                    <!--                    <div class="form-group">-->
                    <!--                        <label>{{field.label}}</label>-->
                    <!--                        {{field}}-->
                    <!--                        {{field.error}}-->
                    <!--                    </div>-->
                    <!--                    {% endfor %}-->
                    {% if page == 'register' %}
                    <button type="submit" form="form" formaction="{% url 'register_customer' %}" formmethod="post" class="btn btn-gradient-primary mr-2">Submit</button>
                    {% elif page == 'update' %}
                     <button type="submit" form="form" formaction="{% url 'edit_customer_details' customer_id=4 edit_type=edit_type  %}" formmethod="post" class="btn btn-gradient-primary mr-2">Update</button>
                    {% endif %}
                    <button class="btn btn-light" formnovalidate name="cancel" value="cancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
 $(function() {
    $("#id_total_fees, #id_fees_paid").on("keydown keyup", subtract);
    function subtract() {
        $("#id_fees_remaining").val(Number($("#id_total_fees").val()) - Number($("#id_fees_paid").val()));
        }
     });

</script>
<!--<script>-->
<!-- $(function() {-->
<!--    $("#month").on("keydown keyup", getDate);-->
<!--    function getDate() {-->
<!--        var now = new Date($("#id_start_date").val()-->
<!--        var num = Number($("#month").val()-->
<!--        $("#id_end_date").val(new Date(now.getFullYear(), now.getMonth()+num, 1););-->
<!--        console.log('HI');-->
<!--        }-->
<!--     });-->
<!--</script>-->
{% endblock %}
