{% extends 'index.html' %}
{% load humanize %}
{% block styles %}
<style>
    .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active,
     .btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active{
    color : white !important;
    }
.modal-header .close {
    padding: 0px !important;
    margin: 0px !important;
}
</style>

{% endblock %}
{% block index %}
<title>User Profile</title>
<div class="page-header">
    <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-account-outline"></i>
                </span> Profile</h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <!--        <h4 class="card-title">Striped Table</h4>-->
        <!--        <p class="card-description"> Add class <code>.table-striped</code>-->
        <!--        </p>-->
        <div class="row">
            <div class="col-lg-6 col-md-6 col-3 padding-bottom10">
                {% if object.status %}
                <label class="badge badge-success">&nbsp;Active&nbsp;</label>
                {% else %}
                <label class="badge badge-danger">Inactive</label>
                {% endif %}
            </div>
            <div class="col-lg-6 col-md-6 col-9 font-size13 text-right padding-bottom10">
                <i class="mdi mdi-clock-alert  icon-sm text-primary"></i>
                Updated {{object.updated_at| naturaltime}}
            </div>

            <div class="col-lg-12 col-md-12 col-12 text-center padding-bottom15">
                {% if object.gender == 'M' %}
                <img src="{{baseImages}}/faces-clipart/pic-1-m.png" alt="image">
                {% endif %}
                {% if object.gender == 'F' %}
                <img src="{{baseImages}}/faces-clipart/pic-2-m.png" alt="image">
                {% endif %}
            </div>
            <div class="col-lg-12 col-md-12 col-12 text-center font-size18 font-weight900 padding-bottom15">
                {{object.name}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12 disable-select padding-bottom5">
                <ul class="tab">
                    <li>
                        <a class="tablinks" id="default-tab" onclick="openCity(event, 'tab-1')">
                            Basic Details
                        </a>
                    </li>
                    <li>
                        <a class="tablinks" onclick="openCity(event, 'tab-2')">
                            Status Details
                        </a>
                    </li>

                </ul>
            </div>

            <div class="col-lg-12 col-md-12 col-12">
                <div id="tab-1" class="tabcontent">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-clock icon-list text-primary"></i>&nbsp;
                            Created On - {{object.created_at|date}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-cellphone  icon-list text-primary"></i>&nbsp;
                            Contact No - {{object.contact_no}}
                        </div>
                        {% if object.email %}
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-gmail icon-list text-primary"></i>&nbsp;
                            Email - {{object.email}}
                        </div>
                        {% endif %}
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-account-card-details icon-list text-primary"></i>&nbsp;
                            Gym Contact No - {{object.gym_contact_no}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-home-map-marker icon-list text-primary"></i>&nbsp;
                            Address - {{object.address}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15 padding-top15 text-center">
                            <button type="button"
                                    onclick="window.location='#'"
                                    class="btn btn-sm btn-outline-primary btn-fw">
                                <i class="mdi mdi-pen btn-icon-append"></i>
                                Edit Basic Details
                            </button>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tabcontent">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-clock-alert  icon-list text-primary"></i>&nbsp;
                            Updated {{object.updated_at |naturaltime}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-information icon-list text-primary"></i>&nbsp;
                            Status - {% if object.status %}Active{% else %}Inactive{% endif %}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-calendar-plus icon-list text-primary"></i>&nbsp;
                            Started Date - {{object.start_date}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-calendar-remove icon-list text-primary"></i>&nbsp;
                            Closing Date - {{object.end_date}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-cash-multiple icon-list text-primary"></i>&nbsp;
                            Total Fees - ₹ {{object.total_fees|intcomma}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-cash icon-list text-primary"></i>&nbsp;
                            Fees paid - ₹ {{object.fees_paid|intcomma}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15">
                            <i class="mdi mdi-cash icon-list text-primary"></i>&nbsp;
                            Fees Remaining - ₹ {{object.fees_remaining|intcomma}}
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 padding-bottom15 padding-top15 text-center">
                            <button type="button"
                                    onclick="window.location='#'"
                                    class="btn btn-sm btn-outline-primary btn-fw">
                                <i class="mdi mdi-pen btn-icon-append"></i>
                                Edit Status Details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block modal %}


{% endblock %}

{% block scripts %}
<script>
    document.getElementById('default-tab').click();
    function openCity(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
</script>
{% endblock %}