{% extends 'index.html' %}
{% load humanize %}
{% block index %}
<title>Customers</title>
<div class="page-header">
    <h3 class="page-title">
                <span class="page-title-icon bg-gradient-primary text-white mr-2">
                  <i class="mdi mdi-account-multiple-outline"></i>
                </span> All Customer </h3>
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <span></span>Overview <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
            </li>
        </ul>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <!--        <h4 class="card-title">Striped Table</h4>-->
        <!--        <p class="card-description"> Add class <code>.table-striped</code>-->
        <!--        </p>-->
        <div class="overflow-auto">
            <table id="myTable" class="table table-striped disable-select">
                <thead>
                <tr>
                    <th onclick="sortTable(0)" class="cursor-pointer"> User</th>
                    <th onclick="sortTable(1)" class="cursor-pointer"> Customer Name</th>
                    <th onclick="sortTable(2)" class="cursor-pointer"> Status</th>
                    <th onclick="sortTable(3)" class="text-right cursor-pointer"> Total Fees</th>
                    <th onclick="sortTable(4)" class="text-right cursor-pointer"> Fees Paid</th>
                    <th onclick="sortTable(5)" class="text-right cursor-pointer"> Fees Remain</th>
                    <th onclick="sortTable(6)" class="cursor-pointer"> Started Date</th>
                    <th onclick="sortTable(7)" class="cursor-pointer"> Closing Date</th>
                    <!--                    <th> Progress</th>-->
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                <tr onclick="window.location='{% url 'get_customer_details' customer_id=object.customer.id %}';" class="cursor-pointer">
                    <td class="py-1">
                        {% if object.customer.gender == 'M' %}
                        <img src="{{baseImages}}/faces-clipart/pic-1.png" alt="image">
                        {% endif %}
                        {% if object.customer.gender == 'F' %}
                        <img src="{{baseImages}}/faces-clipart/pic-2.png" alt="image">
                        {% endif %}
                    </td>
                    <td>{{object.customer.name}}</td>
                    <td>
                        {% if object.status %}
                        <label class="badge badge-success">&nbsp;Active&nbsp;</label>
                        {% else %}
                        <label class="badge badge-danger">Inactive</label>
                        {% endif %}
                    </td>
                    <td class="text-right"> ₹ {{object.total_fees|intcomma}}</td>
                    <td class="text-right"> ₹ {{object.fees_paid|intcomma}}</td>
                    <td class="text-right"> ₹ {{object.fees_remaining|intcomma}}</td>
                    <td> {{object.start_date}}</td>
                    <td> {{object.end_date}}</td>
                    <!--                    <td>-->
                    <!--                        <div class="progress">-->
                    <!--                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%"-->
                    <!--                                 aria-valuenow="25"-->
                    <!--                                 aria-valuemin="0" aria-valuemax="100"></div>-->
                    <!--                        </div>-->
                    <!--                    </td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
    function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("myTable");
          switching = true;
          // Set the sorting direction to ascending:
          dir = "asc";
          /* Make a loop that will continue until
          no switching has been done: */
          while (switching) {
            // Start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /* Loop through all table rows (except the
            first, which contains table headers): */
            for (i = 1; i < (rows.length - 1); i++) {
              // Start by saying there should be no switching:
              shouldSwitch = false;
              /* Get the two elements you want to compare,
              one from current row and one from the next: */
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              /* Check if the two rows should switch place,
              based on the direction, asc or desc: */
              var fees = [3,4,5];
              var dates = [6,7];
              if (fees.includes(n)) {

                if (dir == "asc") {
                    if (x.innerHTML.toLowerCase().replace(/[₹, ]/g,'') > y.innerHTML.toLowerCase().replace(/[₹, ]/g,'')) {
                      // If so, mark as a switch and break the loop:
                      console.log(x.innerHTML.toLowerCase().replace(/[₹, ]/g,''));
                      shouldSwitch = true;
                      break;
                    }
                  } else if (dir == "desc") {
                    if (Number(x.innerHTML.toLowerCase().replace(/[₹, ]/g,'')) < y.innerHTML.toLowerCase().replace(/[₹, ]/g,'')) {
                      // If so, mark as a switch and break the loop:
                      y.innerHTML.toLowerCase().replace(/[₹, ]/g,'')
                      shouldSwitch = true;
                      break;
                    }
                  }

              } else if (dates.includes(n)) {

                   if (dir == "asc") {
                    if (Date(x.innerHTML.toLowerCase()) > Date(y.innerHTML.toLowerCase())) {
                      // If so, mark as a switch and break the loop:
                      shouldSwitch = true;
                      break;
                    }
                  } else if (dir == "desc") {
                    if (Date(x.innerHTML.toLowerCase()) < Date(y.innerHTML.toLowerCase())) {
                      // If so, mark as a switch and break the loop:
                      shouldSwitch = true;
                      break;
                    }
                  }

              } else {
                  if (dir == "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                      // If so, mark as a switch and break the loop:
                      shouldSwitch = true;
                      break;
                    }
                  } else if (dir == "desc") {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                      // If so, mark as a switch and break the loop:
                      shouldSwitch = true;
                      break;
                    }
                  }
              }
            }

            if (shouldSwitch) {
              /* If a switch has been marked, make the switch
              and mark that a switch has been done: */
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              // Each time a switch is done, increase this count by 1:
              switchcount ++;
            } else {
              /* If no switching has been done AND the direction is "asc",
              set the direction to "desc" and run the while loop again. */
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
          }
        }
     }
    </script>
    {% endblock %}

